<div style="max-width: 300px;background-color: #888;position:absolute; z-index: 20;padding: 20px 5px;">
<div class="ulist" style="max-height: 200px;overflow-y: scroll;"></div>
<div class="logs" style="max-height: 200px;overflow-y: scroll;"></div>
<input type="text" id="q" style="display: hidden;"><br>
<button class="join-chan" name="chan1">chan1</button>
<button class="join-chan" name="chan2">chan2</button>
<button class="join-chan" name="chan3">chan3</button><br>
<button class="leave-chan">leave chan</button>
</div>


<canvas class="main-view" style="position: absolute;left: 0; top: 0;z-index: 10;">

</canvas>

<script type="importmap">
{
    "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@v0.180.0/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.180.0/examples/jsm/"
    }
}
</script>

<script>
    const wsUrl = '<%- wsUrl %>';
    <%- include('index.js') %>

</script>

<script type="module">
    <%- include('3d_rendering.js') %>
</script>
    