<div style="max-width: 300px;background-color: #888;position:absolute; z-index: 20;">
<div class="ulist" style="max-height: 200px;overflow-y: scroll;"></div>
<div class="logs" style="max-height: 200px;overflow-y: scroll;"></div>
<input type="text" id="q" style="display: hidden;">
<button class="join-chan" name="chan1">chan1</button>
<button class="join-chan" name="chan2">chan2</button>
<button class="join-chan" name="chan3">chan3</button>
<button class="leave-chan">leave chan</button>
</div>


<canvas class="main-view" style="position: absolute;left: 0; top: 0;z-index: 10;">

</canvas>

<script>
    const wsUrl = '<%- wsUrl %>';
    <%- include('index.js') %>
</script>
